*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  color: #fff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background:   linear-gradient(
    rgba(0, 0, 0, .78), 
    rgba(0, 0, 0, .99)
  ), url('../images/earth.jpg');
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  text-align: right;  
}

nav input,
.btn-submit {
  padding: 8px 20px;
  font-size: 18px;
}

.btn-submit {
  background-color: #000;
  color: #fff;
  outline: none;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 11px 40px;
  margin-left: -10px;
}

.btn-submit:hover {
  background: #111;
  cursor: pointer;
}

nav input {
  width: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  outline: none;
}

.container {
  padding: 40px 100px;
  max-width: 1480px;
  margin: auto;
}

.weather-container {
  margin: 150px 23%;
  position: absolute;
  display: block;
  line-height: 1.5;
}

.weather-container img {
  width: 100px;
}

.temperature {
 position: absolute;
 right: 230px;
 font-size: 100px;
 text-align: end;
 margin-top: 2rem;
}

.temperature span {
  font-size: 22px;
}

.weather-description {
  font-size: 40px;
}

