*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  color: #fff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background:   linear-gradient(
    rgba(0, 0, 0, .78), 
    rgba(0, 0, 0, .99)
  ), url('../images/earth.jpg');
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  text-align: right;  
}

nav input,
.btn-submit {
  padding: 8px 20px;
  font-size: 18px;
}

nav input {
  min-width: 300px;
}

.container {
  padding: 40px 100px;
  max-width: 1480px;
  margin: auto;
}

.weather-container {
  margin: 150px 23%;
}
